@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary: #4B6F44;
$dark: #3F4A3C;
$info: #44A5BF;

$family-sans-serif: 'Roboto', sans-serif;
$size-3: 100px;

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


main {
  // font-family: 'Roboto', sans-serif;
  position: absolute;
  width: 100%;
  padding: 20px;
}

@import "../node_modules/bulma/bulma.sass";

.space-top {
  margin-top: 220px;
}

.space-top-large {
  margin-top: 440px;
}

.padding-top-screen {
  padding-top: 500px;
}